$c-main: #E6F4F1;
$c-mandatory: #00A2A5;
$c-accent:#005C69;
$c-mandatory20: rgba($c-mandatory,0.2);
$c-mandatory40: rgba($c-mandatory,0.4);
$c-mandatory50: rgba($c-mandatory,0.5);
$c-mandatory80: rgba($c-mandatory,0.8);
$c-s-mandatory: #4AB9BB;