@mixin constructor() {
    margin: 0 15rem;
}
@mixin constructor2() {
    padding: 0 15rem;
}
@mixin sticky {
    position: sticky;
    z-index: 1;
    top: 0;
}
@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
}