@import './prefix/colors';
@import './prefix/mixins';
@import './prefix/include_media';


.banner {
    display: flex;
    @include constructor();
    justify-content: space-between;
    align-items: center;
    height: 700px;
    .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: $c-mandatory;
        h1 {
            font-size: 42px;
            line-height: 58px;
            .accent-color {
                color: $c-accent;
            }
        }
        h4 {
            font-size: 16px;
            font-weight: 800;
            position: relative;
            margin-bottom: 10px;
            h4 span{
                background-color: white;
            }
            &::after {
                position: absolute;
                content: "";
                height: 3px;
                background-color: $c-accent;
                width: 50px;
                bottom: -10px;
                left: 0;
                
            }
        }

        p {
            font-weight: 500;
            font-size: 16px;
            opacity: .5;
        }
        .cta {
            font-size: 24px;
            line-height: 24px;
            width: 100%;
            font-family: 600;
            display: flex;
            margin-top: 60px;
            gap: 20px;
            .register {
                display: flex;
                gap: 5px;
                align-items: center;
                font-size: 18px;
                font-weight: 500;
                padding: 1rem 2.5rem;
                &:hover {
                    box-shadow: 0 0 .5rem .25rem $c-mandatory20;
                }
            }
            .next {
                padding: 1rem 2rem; 
                font-size: 18px;
                font-weight: 500;
                color: $c-mandatory;
                border:3px solid $c-mandatory;
                &:hover {
                    box-shadow: 0 0 .5rem .25rem rgba($c-mandatory20,.1);
                }
            }
        }
    }
    .image {
        width: auto;
        img {
            // width: 100%;
            border-radius: 100px;
        }
    }
    @include media('>tablet-lg','<=desktop') {
        .text {
            gap: 25px;
            h1 {
                font-size: 38px;
                line-height: 48px;
            }
            h4 {
                font-size: 16px;
                font-weight: 600;
            }
        }
        .image {
            width: auto;
            img {
                width: 350px;
                border-radius: 75px;
            }
        }
    }

    @include media('>tablet','<=tablet-lg') {
        height: 550px;
        .text {
            gap: 10px;
            h1 {
                font-size: 34px;
                line-height: 42px;
            }
            h4 {
                font-size: 16px;
                font-weight: 600;
            }
        }
        .image {
            width: auto;
            img {
                width: 350px;
                border-radius: 75px;
            }
        }
    }
    @include media('<=tablet') {
        margin: 0 auto;
        height: auto;
        max-width: 80%;
        flex-direction: column-reverse;
        margin-bottom: 100px;
        gap: 25px;
        .text {
            width: 100%;
            h1 {
                font-size: 24px;
                line-height: 38px;
            }
            h4 {
                font-size: 12px;
                &::after {
                    bottom: -8px;
                }
            }
            p {
                font-size: 12px;
            }
            .cta {
                margin-top: 20px;
                .register,.next {
                    padding: .75rem 1.5rem;
                    font-size: 14px;
                }
            }
        }
        .image {
            width: auto;
            text-align: center;
            img {
                width: 100%;
                border-radius: 25px;
            }
        }
    }
    
}