@import './prefix/colors';
@import './prefix/mixins';
@import './prefix/include_media';


.find-container {
    @include constructor();
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    margin-top: 140px;
    h1 {
        text-align: center;
        color: $c-accent;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
    }
    .search-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 40px;
        align-items: center;
        & .card {
            border: none;
            height: auto;
            width: 100%;
            background-color: $c-main;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
        }
        .search {
            display: flex;
            flex-direction: column;
            padding: 24px 32px;
            gap: 1rem;
            h4 {
                font-size: 18px;
                font-weight: 600;
                color: $c-accent;
            }
            form {
                display: flex;
                width: auto;
                gap: 2rem;
                button {
                    font-weight: 500;
                    font-size: 16px;
                }
                input,select {
                    width: 100%;
                    border-radius: 1rem;
                    padding: 0 1rem;
                    border: none;
                    outline: none;
                    background-color: $c-mandatory20;
                    font-weight: 500;
                    color: $c-accent;
                }
                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-position: right center;
                    background-repeat: no-repeat;
                    background-size: 1ex;
                    background-origin: content-box;
                    background-size: 3%;
                    min-width: 150px;
                }
            }
        }
    }
    section.categories {
        display: flex;
        flex-direction: column;
        gap: 52px;
        
        h3 {
            font-size: 24px;
            color: $c-accent;
            font-weight: 700;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                height: 3px;
                width: 160px;
                bottom: -12px;
                left: 0;
                background-color: $c-accent;
            }
        }
        .category-list {
            display: flex;
            gap: 15px;
            background-color: $c-mandatory40;
            padding: 15px 30px;
            border-radius: 15px;
            width: max-content;
            max-width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            .category {
                @include centering();
                flex-direction: column;
                width: 125px;
                height: 100px;
                gap: .5rem;
                cursor: pointer;
                padding: 0;
                margin: 0;
                background-color: $c-main;
                border: 1px solid transparent;
                border-radius: 15px;
                &:hover {
                    box-shadow: 0 0 12px 6px rgba(#000,.2);
                    transform: scale(1.01);
                }
                .faskes-logo {
                    width: 60px;
                    height: 60px;
                    background-color: $c-mandatory20;
                    padding: 10px;
                    @include centering();
                    border-radius: 50%;
                    animation: 1s linear width;

                }
                img { 
                    width: 35px;
                    
                }
                p {
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 0.015rem;

                }
            }
        }
    }
    .faskes-list {
        display: grid;
        grid-template-columns: repeat(auto-fill,22rem);
        grid-auto-rows: auto;
        max-width: calc(22rem*3 + 50px);
        gap:20px;
        justify-content: center;
        .faskes-card {
            background-color: $c-mandatory20;
            padding: 1.2rem 1.5rem calc(.5rem + 110px) 1.5rem;
            border-radius: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            position: relative;
            .info {
                display: flex;
                flex-direction: column;
                gap: 15px;
                .card-category {
                    display: flex;
                    align-items: center;
                    height: 20px;
                    padding: 0 5px;
                    gap: 4px;
                    border: 1px solid black;
                    width: max-content;
                    border-radius: 5px;
                    .card-icon {
                        height: 14px;
                    }
                    p {
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
                .faskes-info {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .faskes-name {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 18px;
                        text-transform: capitalize;
                    }
                    .faskes-status {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        color: rgba(#000,.5);
                        .faskes-location{
                            display: flex;
                            font-size: 14px;
                            gap: 8px;
                            align-items: center;
                        }
                        .vaksin-status {
                            font-size: 14px;
                            text-transform: uppercase;
                            display: flex;
                            gap: 8px;
                            align-items: center;
                            color: $c-accent;
                        }
                    }
                }
            }
            .cta {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 10px;
                position: absolute;
                bottom: 15px;
                width: calc(100% - 3rem);
                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: -10px;
                    width: 100%;
                    background-color: rgba($c-accent,.2);
                    height: 1px;
                }
                .btn  {
                    padding: 3px 0;
                    line-height: 24px;
                    border-radius: 10px;
                    font-size: 14px;
                    font-weight: 500;
                    background-color: $c-accent;
                    letter-spacing: .5px;
                }
                a {
                    padding: 3px 0;
                    line-height: 24px;
                    border-radius: 10px;
                    font-size: 14px;
                    font-weight: 600;
                    background-color: none;
                    text-align: center;
                    color: $c-accent;
                    text-decoration: none;
                    border: 1px solid transparent ;
                    &:hover {
                        border: 1px solid $c-mandatory;
                        background-color: $c-mandatory20;
                    }
                }
            }
        }
    }   

    @include media('>desktop','<=desktop-lg') {
        margin-top: 140px;
    }
    @include media('<=desktop') {
        margin-top: 140px;
        .search-section {
            .search {
                gap: 1.5rem;
                text-align: center;
                form { 
                    flex-direction: column;
                    gap: 1rem;
                    button {
                        width: 50%;
                        margin: 0 auto;
                    }
                    input,select {
                        height: 45px;
                    }
                }
            }
        }


    }
    @include media('<=tablet-lg') {
        section.categories {
            .category {
                width: 25%;
            }
        }
    }
    @include media('<=tablet') {
        section.categories {
            align-items: center;

        }
    }


    @include media("<=phone"){
        margin-top: 140px;
    
    }
}