@import './prefix/colors';
@import './prefix/mixins';
@import './prefix/include_media';


footer {
    width: 100%;
    background-color: $c-accent;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 50px;
    margin-top: 120px;
    nav {
        @include constructor2();
        display: flex;
        justify-content: space-between;
        height: 250px;
        padding-top: 10px;
        & .contact,
        & .link {
            ul li a {
                text-decoration: underline;
            }
        }
        & div {
            height: 150px;
            width: 325px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            & h4 {
                font-size: 20px;
                font-weight: 700;

            }
            & ul {
                display: flex;
                flex-direction: column;
                gap: 8px;
                & li {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                }
                & a {
                    font-size: 18px;
                    line-height: 24px;
                }
                .social-media-icon {
                    height: 18px;
                    width: 18px;
                }
            }
        }
        color: $c-main;
        & a {
            color: $c-main;
        }
    }
    .comp-info {
        @include constructor2();
        height: 80px;
        display: flex;
        justify-content: space-between;
        color: $c-main;
        border-top: 1px solid $c-main;
        align-items: center;
        font-weight: 500;
        .copyright {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        & a {
           color: $c-main;
           text-decoration: underline; 
        }
    }
    @include media('>tablet-lg','<=desktop') {
        nav {
            height: 275px;

        }
    
    }
    @include media('>tablet','<=tablet-lg') {
        nav {
            height: 300px;
            padding: 0 2.5rem;
            
        }
        .comp-info {
            padding: 0 2.5rem;

        }
    }
    @include media('<=tablet') {
        nav {
            flex-direction: column;
            height: calc(100% + 20px);
            width: 100%;
            align-items: center;
            div {
                width: 100%;
                height: auto;
                text-align: center;
                align-items: center;
                margin-bottom: 25px;
                gap: 8px;
                ul {
                    align-items: center;
                    li {
                        gap: 6px;
                    }
                    a {
                        font-size: 16px;
                        line-height: 22px;
                    }
                } 
            }
        }
        .comp-info {
            flex-direction: column-reverse;
            justify-content: center;
            gap: 10px;
            font-size: 16px;
        }
    }
}