@import './prefix/colors';

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &.active {
        display: block;
        background-color: rgba(black,0.25);
        z-index: 5;
        height: 100vh;
        width: 100vw;
    }
    .card {
        z-index: 10;
        background-color: $c-accent;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        height: 380px;
        border: none;
        display: flex;
        flex-direction: column;
        padding: 25px;
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 32px;
            .download {
                font-size: 16px;
                font-weight: 500;
                &:hover {
                    box-shadow: 0 3px 8px rgba($c-main,.25);
                }
            }
        }
        .close {
            background-color: transparent;
            outline: none;
            border: none;
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            .close-button { 
                color: $c-main;
                height:25px;
                width: 25px;
                border-radius: 25px;
                background-color: $c-accent;
                &:hover {
                    background-color: $c-mandatory;
                    color: $c-accent;
                }
            }
        }
        
        .check {
            color: $c-mandatory;
            height: 84px;
            width: 84px;
        }
        .info {
            display: flex;
            flex-direction: column;
            gap: 12px;
            h4 {
                font-family: "exo",sans-serif;
                font-size: 32px;
                color: $c-main;
                font-family: 700;
                line-height: 38px;
            }
            p {
                color: rgba(#E6F4F1,.6);
                font-size: 16px;
                line-height: 24px;
            }
        }
        
        
    }
}


.btn {
    padding: 12px 32px;
    border-radius: 12px;
    &.primary {
        background-color: $c-mandatory;
        color: $c-main;
    }
    &.secondary {
        background-color: transparent;
        color: $c-accent;
        border: 1px solid $c-mandatory;
    }
}