@import './prefix/colors';
@import './prefix/mixins';


header {
    @include sticky();
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background-color: $c-main;
    &.active {
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    }
    .logo {
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        a {
            color: $c-accent;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }
    }
    nav {
        height: 100%;
        ul {
            height: 100%;
            display: flex;
            gap: 50px;
            
            li {
                display: flex;
                align-items: center;
                height: 50px;
                margin-top: 15px;
                position: relative;
                border-bottom: 1px solid transparent;
                border-radius: 10px;
                &.active {
                    &::after {
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 2px;
                        width: 50px;
                        background-color: $c-mandatory;
                        animation: 120ms linear slideIn;
                        
                    }
                }
                
                a {
                    @include centering();
                    padding: 6px 16px;   
                    color: $c-accent;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    height: 100%;
                    width: 100%;
                    border: 1px solid transparent;
                    background-color: transparent; 
                }
                &:hover,&:focus {
                    background-image:linear-gradient(45deg,rgba($c-accent, 0.1),rgba(0,0,0,.00),rgba(0,0,0,.00),rgba($c-accent, 0.1));
                }
                &:active {
                    background-image:linear-gradient(45deg,rgba($c-accent, 0.2),rgba(0,0,0,.00),rgba(0,0,0,.00),rgba($c-accent, 0.2));
                    border-radius: 10px;
                }

                button.register {
                    display: flex;
                    align-items: center;
                    padding: 12px 24px 12px 32px;
                    border-radius: 12px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: $c-main;
                    background-color: $c-mandatory;
                    gap: 5px;
                    // box-shadow: 0px 0px 10px rgba(0, 92, 105, 0.5);
                    &:hover{
                        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.3);
                        background-color: $c-mandatory80;
                        .arrow-btn {
                            transform: translateX(10px);
                            animation: 1s infinite moving;
                        }
                    }
                    &:active {
                        box-shadow:none;
                        background-color: $c-mandatory40;
                    }
                }
            }
        }
    }
}

@keyframes slideIn {
    from      {
        width: 0;
        transform: translateX(-25px);
    }
    10%     {width: 5px;transform: translateX(-25px);}
    25%     {width: 12.5px;transform: translateX(-25px);}
    50%     {width: 25px;transform: translateX(-25px);}
    75%     {width: 37.5px;transform: translateX(-25px);}
    90%     {width: 45px;transform: translateX(-25px);}
    to      {width: 50px; transform: translateX(-25px);}
}
@keyframes moving {
    from { transform: translateX(1px);}
    50% { transform: translateX(5px);}
    to { transform: translateX(1px);}
}