* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  /* margin: 0 200px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E6F4F1;
}
body.active-modal {
  overflow: hidden;
}


/* code {
  font-family: ;
} */
