.covid-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-basis: auto;
  width: auto;
  box-shadow: 0px 0px 31px rgba(0, 0, 0, 0.1843137255);
}
.covid-stats h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #00A2A5;
  position: relative;
}
.covid-stats h4::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 250px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #005C69;
}
.covid-stats .status-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.covid-stats .status-list .status {
  width: 250px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.covid-stats .status-list .status:not(:last-child)::after {
  position: absolute;
  content: "";
  height: 40px;
  width: 1px;
  background-color: #005C69;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
}
.covid-stats .status-list .status:not(:first-child)::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 1px;
  background-color: #005C69;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
}
.covid-stats .status-list .status .number {
  font-family: "Exo", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  color: #005C69;
}
.covid-stats .status-list .status p {
  color: #00A2A5;
  font-weight: 500;
  line-height: 24px;
}
@media (min-width: 825px) and (max-width: 1120px) {
  .covid-stats {
    gap: 30px;
  }
  .covid-stats h4 {
    font-size: 22px;
    font-weight: 700;
  }
  .covid-stats .status-list .status {
    width: 185px;
  }
}
@media (min-width: 1121px) and (max-width: 1440px) {
  .covid-stats {
    gap: 35px;
  }
  .covid-stats h4 {
    font-size: 22px;
    font-weight: 700;
  }
  .covid-stats .status-list .status {
    width: 215px;
  }
}
@media (max-width: 824px) {
  .covid-stats {
    gap: 30px;
  }
  .covid-stats h4 {
    font-size: 22px;
    font-weight: 700;
  }
  .covid-stats .status-list .status {
    width: 40%;
  }
  .covid-stats .status-list .status:nth-child(2)::after {
    display: none;
  }
  .covid-stats .status-list .status:nth-child(1), .covid-stats .status-list .status:nth-child(2) {
    margin-bottom: 10px;
  }
  .covid-stats .status-list .status:nth-child(3), .covid-stats .status-list .status:nth-child(4) {
    margin-top: 10px;
  }
  .covid-stats .status-list .status:nth-child(3)::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .covid-stats {
    gap: 20px;
  }
  .covid-stats h4 {
    font-size: 16px;
    text-align: center;
    line-height: 24px;
  }
  .covid-stats h4::after {
    bottom: -10px;
    width: 150px;
  }
  .covid-stats .status-list .status {
    margin-bottom: 10px;
    width: 60%;
  }
  .covid-stats .status-list .status:not(:last-child)::after {
    height: 2px;
    width: 50px;
    right: 50%;
    top: 100%;
    transform: translateX(50%);
  }
  .covid-stats .status-list .status::before {
    display: none;
  }
  .covid-stats .status-list .status .number {
    font-size: 18px;
    line-height: 32px;
  }
  .covid-stats.card {
    width: 90%;
  }
}
@media (max-width: 310px) {
  .covid-stats {
    width: 100vw;
    height: auto;
  }
}

.card {
  background-color: #E6F4F1;
  border: 3px solid #00A2A5;
  width: max-content;
  padding: 15px;
  margin: 0 auto;
  border-radius: 25px;
}/*# sourceMappingURL=covid-stats.css.map */