header {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 0 15rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  background-color: #E6F4F1;
}
@media (min-width: 825px) and (max-width: 1120px) {
  header {
    padding: 0 3.25rem;
  }
}
@media (min-width: 1121px) and (max-width: 1440px) {
  header {
    padding: 0 5rem;
  }
}
@media (max-width: 824px) {
  header {
    padding: 0 5rem;
  }
}
@media (max-width: 768px) {
  header {
    padding: 0 1.5rem;
  }
}
header.active {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
}
header .logo {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
header .logo a {
  color: #005C69;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
header nav {
  height: 100%;
}
header nav ul {
  height: 100%;
  display: flex;
  gap: 50px;
}
header nav ul li {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 15px;
  position: relative;
  border-bottom: 1px solid transparent;
  border-radius: 10px;
}
header nav ul li.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 50px;
  background-color: #00A2A5;
  animation: 120ms linear slideIn;
}
header nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  color: #005C69;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  background-color: transparent;
}
header nav ul li:hover, header nav ul li:focus {
  background-image: linear-gradient(45deg, rgba(0, 92, 105, 0.1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 92, 105, 0.1));
}
header nav ul li:active {
  background-image: linear-gradient(45deg, rgba(0, 92, 105, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 92, 105, 0.2));
  border-radius: 10px;
}
header nav ul li button.register {
  display: flex;
  align-items: center;
  padding: 12px 24px 12px 32px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #E6F4F1;
  background-color: #00A2A5;
  gap: 5px;
}
header nav ul li button.register:hover {
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 162, 165, 0.8);
}
header nav ul li button.register:hover .arrow-btn {
  transform: translateX(10px);
  animation: 1s infinite moving;
}
header nav ul li button.register:active {
  box-shadow: none;
  background-color: rgba(0, 162, 165, 0.4);
}
@media (min-width: 825px) and (max-width: 1120px) {
  header {
    padding: 0 3.25em;
    width: 100%;
  }
  header nav ul {
    gap: 5px;
  }
  header nav ul li .nav {
    padding: 0.25em 0.675em;
  }
  header nav ul li .register {
    padding: 8px 18px 8px 24px;
  }
}
@media (min-width: 1121px) and (max-width: 1440px) {
  header {
    padding: 0 3.75em;
  }
}
@media (max-width: 824px) {
  header nav ul {
    gap: 0;
  }
  header nav ul li.active::after {
    display: none;
  }
  header nav ul li .nav {
    display: none;
    width: 0;
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  header {
    height: 60px;
  }
  header .logo {
    gap: 10px;
  }
  header .logo img {
    height: 40px;
  }
  header .logo a {
    font-size: 14px;
  }
  header nav ul li {
    margin-top: 7px;
  }
  header nav ul li button.register {
    padding: 10px 20px 10px 28px;
    font-size: 14px;
  }
}

@keyframes slideIn {
  from {
    width: 0;
    transform: translateX(-25px);
  }
  10% {
    width: 5px;
    transform: translateX(-25px);
  }
  25% {
    width: 12.5px;
    transform: translateX(-25px);
  }
  50% {
    width: 25px;
    transform: translateX(-25px);
  }
  75% {
    width: 37.5px;
    transform: translateX(-25px);
  }
  90% {
    width: 45px;
    transform: translateX(-25px);
  }
  to {
    width: 50px;
    transform: translateX(-25px);
  }
}
@keyframes moving {
  from {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(5px);
  }
  to {
    transform: translateX(1px);
  }
}/*# sourceMappingURL=header.css.map */